src/main/webapp/static/media/fin.020.2018.8fc54d1c7b94658e1aa8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) SWIFT scrl, 2018.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. 
-->
<!--Generated by Standards Editor (build:R1.7.0.42) on 2018 Jun 14 14:30:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:info="urn:swift:xsd:appInfo" xmlns="urn:swift:xsd:fin.020.2018" targetNamespace="urn:swift:xsd:fin.020.2018" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="MTMessage" abstract="true"/>
	<xs:complexType name="ISO15022Message" abstract="true"/>
	<xs:complexType name="SystemMessage" abstract="true"/>
	<xs:complexType name="Sequence" abstract="true"/>
	<xs:complexType name="Choice" abstract="true"/>
	<xs:complexType name="MTField" abstract="true"/>
	<xs:complexType name="ISO15022Field" abstract="true"/>
	<xs:complexType name="Xor" abstract="true"/>
	<xs:complexType name="Qualifier" abstract="true"/>
	<xs:complexType name="FieldOption" abstract="true"/>
	<xs:complexType name="ComplexDataType" abstract="true"/>
	<xs:complexType name="ChoiceDataType" abstract="true"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="MT020" type="MT020_Type">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Retrieval Request (Text and History)</xs:documentation>
					<xs:documentation source="Name" xml:lang="FR">Dmde de copie (texte et hist)</xs:documentation>
					<xs:documentation source="Name" xml:lang="DE">Retrieval-Anford (Text &amp; Hist)</xs:documentation>
					<xs:documentation source="Name" xml:lang="ES">Sltud recuperación(texto/hist)</xs:documentation>
					<xs:documentation source="Name" xml:lang="IT">Rich recup msg (testo/cronist)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MT020_Type">
		<xs:complexContent>
			<xs:extension base="SystemMessage">
				<xs:sequence>
					<xs:element name="F102a" type="MT020_F102a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">SWIFT Address</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">adresse swift</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">SWIFT-Adresse</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">dirección swift</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">indirizzo Swift</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Choice1" type="Choice1_Type"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MT020_F102a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F102" type="F102_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="102"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">SWIFT Address</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice1_Type">
		<xs:complexContent>
			<xs:extension base="Choice">
				<xs:choice>
					<xs:element name="F251a" type="Choice1_F251a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Input Reference (MIR)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">mir</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">referencia de entrada del msje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">mir</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F252a" type="Choice1_F252a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Input Reference (MIR) Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">plage de mir</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MIR-Bereich</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">tramo de referencias de entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">intervallo mir</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F253a" type="Choice1_F253a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Output Reference (MOR)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">mor</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">referencia de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">mor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F254a" type="Choice1_F254a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Output Reference (MOR) Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">plage de mor</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MOR-Bereich</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">tramo de referencias de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">intervallo mor</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Seq1" type="Seq1_Type"/>
					<xs:element name="Seq2" type="Seq2_Type"/>
					<xs:element name="Seq3" type="Seq3_Type"/>
					<xs:element name="Seq4" type="Seq4_Type"/>
					<xs:element name="Seq5" type="Seq5_Type"/>
					<xs:element name="Seq6" type="Seq6_Type"/>
					<xs:element name="Seq7" type="Seq7_Type"/>
					<xs:element name="Seq8" type="Seq8_Type"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F102_Type">
		<xs:restriction base="Identifier_SWIFTAddress_Type"/>
	</xs:simpleType>
	<xs:complexType name="Choice1_F251a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F251" type="F251_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="251"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Logical Terminal Identifier - Branch Code - Session Number - Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date - Identifiant de terminal logique - Code succursale - Numéro de session - Numéro de séquence d'entrée (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum - Identifizierer des logischen Terminals - Filialcode - Sitzungsnummer - Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha - Identificador de terminal lógico - Código de sucursal - Número de sesión - Número secuencial de entrada (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data - Identificatore terminale logico - Codice succursale - Numero sessione - Numero di sequenza input  (ISN)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice1_F252a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F252" type="F252_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="252"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date First MIR - Logical Terminal Identifier First MIR - Branch Code First MIR - Session Number First MIR - Input Sequence Number (ISN) First MIR - Date Last MIR - Logical Terminal Identifier Last MIR - Branch Code Last MIR - Session Number Last MIR - Input Sequence Number (ISN) Last MIR - Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier MIR de la date - Premier MIR de l'identifiant de terminal logique - Code succursale Premier MIR - Première MIR du numéro de session - Première MIR du numéro de séquence d'entrée (ISN) - Dernier MIR de la date - Dernier MIR de l'identifiant de terminal logique - Code succursale Dernier MIR  - Dernière MIR du numéro de session - Dernière MIR du numéro de séquence d'entrée (ISN) - Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum Erste MIR - Identifizierer des logischen Terminals Erste MIR - Filialcode Erste MIR - Sitzungsnummer Erste MIR - Input Sequence Number (ISN) Erste MIR - Datum Letzte MIR - Identifizierer des logischen Terminals Letzte MIR - Filialcode Letzte MIR - Sitzungsnummer Letzte MIR - Input Sequence Number (ISN) Letzte MIR - Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha de primera MIR - Primera MIR de identificador de terminal lógico - Primera MIR del código de sucursal - Primera MIR de Número de sesión - Primera MIR de Número secuencial de entrada (ISN) - Fecha de última MIR - Última MIR de identificador de terminal lógico - Última MIR del código de sucursal - Última MIR de Número de sesión - Última MIR de Número secuencial de entrada (ISN) - Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data primo MIR - Primo MIR identificatore terminale logico - Codice succursale Primo MIR - Primo MIR numero sessione - Primo MIR Numero di sequenza input (ISN) - Data ultimo MIR - Ultimo MIR identificatore terminale logico - Codice succursale Ultimo MIR - Ultimo MIR numero sessione - Ultimo MIR Numero di sequenza input (ISN) - Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice1_F253a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F253" type="F253_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="253"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date - Logical Terminal Identifier - Branch Code - Session Number - Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date - Identifiant de terminal logique - Code succursale - Numéro de session - Numéro de séquence de sortie (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum - Identifizierer des logischen Terminals - Filialcode - Sitzungsnummer - Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha - Identificador de terminal lógico - Código de sucursal - Número de sesión - Número secuencial de salida (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data - Identificatore terminale logico - Codice succursale - Numero sessione - Numero di sequenza Output  (OSN)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Choice1_F254a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F254" type="F254_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="254"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Date First MOR - Logical Terminal Identifier First MOR - Branch Code First MOR - Session Number First MOR - Output Sequence Number (OSN) First MOR - Date Last MOR - Logical Terminal Identifier Last MOR - Branch Code Last MOR - Session Number Last MOR - Output Sequence Number (OSN) Last MOR - Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier MOR de la date - PremierMOR de l'identifiant de terminal logique - Code succursale Premier MOR - Première MOR du numéro de session - Première MOR de la séquence de sortie (OSN) - Dernier MOR de la date - Dernier MOR de l'identifiant de terminal logique - Code succursale Dernier MOR - Dernière MOR du numéro de session - Dernière MOR de la séquence de sortie (OSN) - Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum Erste MOR - Identifizierer des logischen Terminals Erste MOR - Filialcode Erste MOR - Sitzungsnummer Erste MOR - Output Sequence Number (OSN) Erste MOR - Datum Letzte MOR - Identifizierer des logischen Terminals Letzte MOR - Filialcode Letzte MOR - Sitzungsnummer Letzte MOR - Output Sequence Number (OSN) Letzte MOR - Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha de primera MOR - Primera MOR de identificador de terminal lógico - Primera MOR del código de sucursal - Primera MOR de Número de sesión - Primera MOR de Número secuencial de salida (OSN) - Fecha de última MOR - Última MOR de identificador de terminal lógico - Última MOR del código de sucursal - Última MOR de Número de sesión - Última MOR de Número secuencial de salida (OSN) - Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data primo MOR - Primo MOR identificatore terminale logico - Codice succursale Primo MOR - Primo MOR numero sessione - Primo MOR Numero di sequenza Output  (OSN) - Data ultimo MOR - Ultimo MOR identificatore terminale logico - Codice succursale Ultimo MOR - Ultimo MOR numero sessione - Ultimo MOR Numero di sequenza Output (OSN) - Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq1_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F255a" type="Seq1_F255a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Input Type</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">type de saisie, message</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Nachrichten-Eingabetyp</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">especif de entrada, mensaje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">tipo di messaggio di input</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq1_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - isn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq2_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F257a" type="Seq2_F257a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Input Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">plage des heures de saisie</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitbereich der Eingabe</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">tramo horario de entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">fascia oraria dell'input</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq2_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - isn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq3_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F258a" type="Seq3_F258a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Output Type</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">type de sortie, message</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Nachrichten-Ausgabetyp</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">especif de salida, mensaje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">tipo di messaggio di output</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq3_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - osn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq4_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F260a" type="Seq4_F260a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Output Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">plage des heures de sortie</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitbereich der Ausgabe</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">tramo horario de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">fascia oraria di output</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq4_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - osn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq5_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F256a" type="Seq5_F256a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Category Input Type</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">type de saisie, catégorie</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Kategorie-Eingabetyp</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">especif de entrada, categoría</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">tipo di categoria di input</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq5_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - isn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq6_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F259a" type="Seq6_F259a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Category Output Type</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">type de sortie, catégorie</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Kategorie-Ausgabetyp</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">especif de salida, categoría</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">tipo di categoria di output</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq6_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - osn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F263a" type="Seq7_F263a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message User Reference (MUR) Input</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">input - mir</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MUR-Eingabe</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">referencia de usuario, entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">mur - input</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F108a" type="Seq7_F108a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message User Reference (MUR)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">mur</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">mur</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">mur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F152a" type="Seq7_F152a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - isn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de entrada</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_Type">
		<xs:complexContent>
			<xs:extension base="Sequence">
				<xs:sequence>
					<xs:element name="F264a" type="Seq8_F264a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message User Reference (MUR) Output</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">output - mir</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MUR-Ausgabe</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">referencia de usuario, salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">mur - output</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F108a" type="Seq8_F108a_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message User Reference (MUR)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">mur</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">mur</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">mur</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="F153a" type="Seq8_F153a_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">First Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">1er OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">1st - osn</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">primer número sesión de salida</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">1° OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Identifier_SWIFTAddress_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c1!c3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="12"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}[0-9A-Z][0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F251_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InputSequenceNumber" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de séquence d'entrée (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Input Sequence Number (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número secuencial de entrada (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero di sequenza input  (ISN)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F252_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DateFirstMIR" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date First MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier MIR de la date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum Erste MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha de primera MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data primo MIR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LogicalTerminalIdentifierFirstMIR" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier First MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier MIR de l'identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals Erste MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MIR de identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo MIR identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCodeFirstMIR" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code First MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale Premier MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode Erste MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MIR del código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale Primo MIR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumberFirstMIR" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number First MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Première MIR du numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer Erste MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MIR de Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo MIR numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InputSequenceNumberFirstMIR" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Input Sequence Number (ISN) First MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Première MIR du numéro de séquence d'entrée (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Input Sequence Number (ISN) Erste MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MIR de Número secuencial de entrada (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo MIR Numero di sequenza input (ISN)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateLastMIR" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date Last MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernier MIR de la date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum Letzte MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha de última MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data ultimo MIR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LogicalTerminalIdentifierLastMIR" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier Last MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernier MIR de l'identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals Letzte MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MIR de identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Ultimo MIR identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCodeLastMIR" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code Last MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale Dernier MIR </xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode Letzte MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MIR del código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale Ultimo MIR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumberLastMIR" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number Last MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernière MIR du numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer Letzte MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MIR de Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Ultimo MIR numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InputSequenceNumberLastMIR" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Input Sequence Number (ISN) Last MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernière MIR du numéro de séquence d'entrée (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Input Sequence Number (ISN) Letzte MIR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MIR de Número secuencial de entrada (ISN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Ultimo MIR Numero di sequenza input (ISN)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F253_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OutputSequenceNumber" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de séquence de sortie (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Output Sequence Number (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número secuencial de salida (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero di sequenza Output  (OSN)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F254_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="DateFirstMOR" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date First MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier MOR de la date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum Erste MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha de primera MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data primo MOR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LogicalTerminalIdentifierFirstMOR" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier First MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">PremierMOR de l'identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals Erste MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MOR de identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo MOR identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCodeFirstMOR" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code First MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale Premier MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode Erste MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MOR del código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale Primo MOR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumberFirstMOR" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number First MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Première MOR du numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer Erste MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MOR de Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo MOR numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OutputSequenceNumberFirstMOR" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Output Sequence Number (OSN) First MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Première MOR de la séquence de sortie (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Output Sequence Number (OSN) Erste MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primera MOR de Número secuencial de salida (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo MOR Numero di sequenza Output  (OSN)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DateLastMOR" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date Last MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernier MOR de la date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum Letzte MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha de última MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data ultimo MOR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LogicalTerminalIdentifierLastMOR" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier Last MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernier MOR de l'identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals Letzte MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MOR de identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Ultimo MOR identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCodeLastMOR" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code Last MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale Dernier MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode Letzte MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MOR del código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale Ultimo MOR</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumberLastMOR" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number Last MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernière MOR du numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer Letzte MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MOR de Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Ultimo MOR numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OutputSequenceNumberLastMOR" type="Identifier_FIN_6En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Output Sequence Number (OSN) Last MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Dernière MOR de la séquence de sortie (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Output Sequence Number (OSN) Letzte MOR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Última MOR de Número secuencial de salida (OSN)</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Ultimo MOR Numero di sequenza Output (OSN)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq1_F255a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F255" type="F255_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="255"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Session Number - Message Type - Date - Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Numéro de session - Type de message - Date - Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Sitzungsnummer - Nachrichtenart - Datum - Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Número de sesión - Tipo de mensaje - Fecha - Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Numero sessione - Tipo messaggio - Data - Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq1_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq2_F257a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F257" type="F257_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="257"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Date - Time Range - Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Date - Intervalle de temps - Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Datum - Zeitspanne - Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Fecha - Intervalo de horas - Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Data - Intervallo di tempo - Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq2_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq3_F258a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F258" type="F258_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="258"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Session Number - Message Type - Date - Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Numéro de session - Type de message - Date - Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Sitzungsnummer - Nachrichtenart - Datum - Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Número de sesión - Tipo de mensaje - Fecha - Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Numero sessione - Tipo messaggio - Data - Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq3_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq4_F260a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F260" type="F260_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="260"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Date - Time Range - Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Date - Intervalle de temps - Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Datum - Zeitspanne - Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Fecha - Intervalo de horas - Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Data - Intervallo di tempo - Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq4_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq5_F256a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F256" type="F256_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="256"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Session Number - Message Category - Date - Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Numéro de session - Catégorie de message - Date - Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Sitzungsnummer - Nachrichtenkategorie - Datum - Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Número de sesión - Categoría del mensaje - Fecha - Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Numero sessione - Categoria messaggio - Data - Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq5_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq6_F259a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F259" type="F259_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="259"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Session Number - Message Category - Date - Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Numéro de session - Catégorie de message - Date - Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Sitzungsnummer - Nachrichtenkategorie - Datum - Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Número de sesión - Categoría del mensaje - Fecha - Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Numero sessione - Categoria messaggio - Data - Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq6_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_F263a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F263" type="F263_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="263"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Date - Time Range - Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Date - Intervalle de temps - Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Datum - Zeitspanne - Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Fecha - Intervalo de horas - Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Data - Intervallo di tempo - Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_F108a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F108" type="F108_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="108"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">MUR</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq7_F152a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F152" type="F152_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="152"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer ISN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo ISN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_F264a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F264" type="F264_1_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="264"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier - Branch Code - Date - Time Range - Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique - Code succursale - Date - Intervalle de temps - Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals - Filialcode - Datum - Zeitspanne - Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico - Código de sucursal - Fecha - Intervalo de horas - Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico - Codice succursale - Data - Intervallo di tempo - Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_F108a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F108" type="F108_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="108"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">MUR</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">MUR</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Seq8_F153a_Type">
		<xs:complexContent>
			<xs:extension base="MTField">
				<xs:choice>
					<xs:element name="F153" type="F153_Type">
						<xs:annotation>
							<xs:appinfo>
								<info:Tag value="153"/>
							</xs:appinfo>
							<xs:documentation source="Name" xml:lang="EN">First OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Premier OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Erste OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Primer OSN</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Primo OSN</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="DateTime_YYMMDD_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="YYMMDD"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_LTIdentifier_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!a2!a2!c1!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="9"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}[0-9A-Z]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code_3Ec_9_Type">
		<xs:restriction base="Text_3Ec_Type">
			<xs:enumeration value="XXX"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_4En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="4!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Identifier_FIN_6En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Identifier"/>
				<info:FinFormat value="6!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="6"/>
			<xs:pattern value="[0-9]{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime_HHMMHHMM_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="DateTime"/>
				<info:FinFormat value="HHMMHHMM"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="F255_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageType" type="Text_FIN_3En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Type</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Type de message</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Nachrichtenart</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Tipo de mensaje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Tipo messaggio</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F152_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">First ISN</xs:documentation>
			<xs:documentation source="Name" xml:lang="FR">Premier ISN</xs:documentation>
			<xs:documentation source="Name" xml:lang="DE">Erste ISN</xs:documentation>
			<xs:documentation source="Name" xml:lang="ES">Primer ISN</xs:documentation>
			<xs:documentation source="Name" xml:lang="IT">Primo ISN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier_FIN_6En_Type"/>
	</xs:simpleType>
	<xs:complexType name="F257_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F258_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageType" type="Text_FIN_3En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Type</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Type de message</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Nachrichtenart</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Tipo de mensaje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Tipo messaggio</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F153_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">First OSN</xs:documentation>
			<xs:documentation source="Name" xml:lang="FR">Premier OSN</xs:documentation>
			<xs:documentation source="Name" xml:lang="DE">Erste OSN</xs:documentation>
			<xs:documentation source="Name" xml:lang="ES">Primer OSN</xs:documentation>
			<xs:documentation source="Name" xml:lang="IT">Primo OSN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Identifier_FIN_6En_Type"/>
	</xs:simpleType>
	<xs:complexType name="F260_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F256_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageCategory" type="Text_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Category</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Catégorie de message</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Nachrichtenkategorie</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Categoría del mensaje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Categoria messaggio</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F259_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MessageCategory" type="Text_FIN_1En_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Message Category</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Catégorie de message</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Nachrichtenkategorie</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Categoría del mensaje</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Categoria messaggio</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="F263_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="F108_Type">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MUR</xs:documentation>
			<xs:documentation source="Name" xml:lang="FR">MUR</xs:documentation>
			<xs:documentation source="Name" xml:lang="DE">MUR</xs:documentation>
			<xs:documentation source="Name" xml:lang="ES">MUR</xs:documentation>
			<xs:documentation source="Name" xml:lang="IT">MUR</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Text_FIN_16x_Type"/>
	</xs:simpleType>
	<xs:complexType name="F264_1_Type">
		<xs:complexContent>
			<xs:extension base="FieldOption">
				<xs:sequence>
					<xs:element name="LogicalTerminalIdentifier" type="Identifier_LTIdentifier_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Logical Terminal Identifier</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Identifiant de terminal logique</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Identifizierer des logischen Terminals</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Identificador de terminal lógico</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Identificatore terminale logico</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchCode" type="Code_3Ec_9_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Branch Code</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Code succursale</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Filialcode</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Código de sucursal</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Codice succursale</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Date" type="DateTime_YYMMDD_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Date</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Datum</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Fecha</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Data</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeRange" type="DateTime_HHMMHHMM_Type">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Time Range</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Intervalle de temps</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Zeitspanne</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Intervalo de horas</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Intervallo di tempo</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SessionNumber" type="Identifier_FIN_4En_Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="Name" xml:lang="EN">Session Number</xs:documentation>
							<xs:documentation source="Name" xml:lang="FR">Numéro de session</xs:documentation>
							<xs:documentation source="Name" xml:lang="DE">Sitzungsnummer</xs:documentation>
							<xs:documentation source="Name" xml:lang="ES">Número de sesión</xs:documentation>
							<xs:documentation source="Name" xml:lang="IT">Numero sessione</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Text_3Ec_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Code"/>
				<info:FinFormat value="3!c"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9A-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_3En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="3!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_1En_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="1!n"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Text_FIN_16x_Type">
		<xs:annotation>
			<xs:appinfo>
				<info:MetaType value="Text"/>
				<info:FinFormat value="16x"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
